*, *::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 15px;
  color: rgb(255, 255, 255);
  padding: 15px 20px;
  border-radius: 35px;
  background-image: linear-gradient(#FF79DA 0%, #9356DC 95%, #9356DC 100%);
  box-shadow: rgba(0, 0, 0, 0.44) 2px 5px 8px 0px;
  border: 0px solid rgb(28, 110, 164);
  display: inline-block;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
button:hover::after {
  opacity: 1;
}
button::after {
  content: "";
  border-radius: 35px;
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(#ff93e1, #a16be0, #a16be0);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  box-shadow: rgba(0, 0, 0, 0.44) 2px 5px 8px 0px;
  -webkit-box-shadow: 9px 9px 15px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 9px 9px 15px 2px rgba(0, 0, 0, 0.35);
}

.loader {
  border: 13px solid #f3f3f3;
  border-radius: 50%;
  border-top: 13px solid #9356DC;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
}

header {
  height: 55px;
  box-shadow: 4px 3px 5px rgb(182, 182, 182);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
}
header a {
  position: absolute;
  left: 15px;
}

footer {
  padding: 20px 20px;
  background-color: rgb(65, 64, 64);
  color: white;
}
footer h1 {
  font-size: 21px;
  text-align: left;
  margin-bottom: 15px;
}
footer .fa-ul {
  margin-left: 25px;
}
footer .fa-ul > li {
  padding: 3px;
}
footer .fa-li {
  top: -2px;
}
footer a {
  color: white;
}

a {
  color: black;
  text-decoration: none;
}

body {
  margin: auto;
  width: 100%;
  max-width: 986px;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  background-color: #ffffff;
}

h1 {
  font-family: "Shrikhand", cursive;
  text-align: center;
}

h2 {
  margin-top: 15px;
  font-weight: 900;
  margin-bottom: 15px;
  font-size: 25px;
}

.city {
  height: 50px;
  width: 100%;
  background-color: rgb(235, 235, 234);
  margin-top: 2px;
  color: rgb(53, 53, 53);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.city-search {
  display: inline-flex;
  text-align: center;
}
.city-search-input {
  background-color: rgb(235, 235, 234);
  border: none;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  width: 150px;
}
.city-search-input::placeholder {
  color: #333333;
}

.fa-solid {
  padding: 5px;
}

.infos {
  background-color: rgb(247, 247, 246);
  padding: 20px 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}
@media screen and (min-width: 992px) {
  .infos {
    border-radius: 0px 0px 30px 30px;
  }
}
.infos h2 {
  font-size: 20px;
  padding: 0px 30px 0px 30px;
}
.infos p {
  font-size: 17px;
  font-weight: 200;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .infos {
    flex-direction: column;
  }
}

.guide {
  padding: 20px 20px;
  margin-bottom: 25px;
  font-weight: 700;
}
.guide ol {
  margin-top: 25px;
  counter-reset: my-counter;
  max-width: 100%;
  list-style: none;
  margin-left: 5px;
}
.guide-list li {
  width: 100%;
  padding: 20px;
  counter-increment: my-counter;
  position: relative;
  background-color: rgb(247, 247, 246);
  border-radius: 20px;
  box-shadow: rgba(114, 113, 113, 0.44) 2px 5px 8px 0px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}
.guide-list li::before {
  content: counter(my-counter);
  background: #9356DC;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  color: white;
  font-weight: 500;
  position: absolute;
  top: 10;
  text-align: center;
  line-height: 24px;
  font-size: 13px;
  left: -15px;
}
.guide-list--active {
  background-color: #f2eafb !important;
}
.guide-list--active .fa-solid {
  color: #9356DC !important;
}
.guide-list a {
  width: 100%;
  display: flex;
  align-items: center;
}
.guide-list .fa-solid {
  color: grey;
  font-size: 19px;
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .guide ol {
    width: 70%;
    margin: auto;
    margin-top: 30px;
  }
}

.restaurants {
  padding: 20px 20px;
  background-color: rgb(247, 247, 246);
}
@media screen and (min-width: 768px) {
  .restaurants {
    border-radius: 30px 30px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  .restaurants h2 {
    width: 100%;
    margin-bottom: 30px;
  }
}

.card {
  width: 100%;
  height: 250px;
  background-color: white;
  box-shadow: 0px 5px 20px rgb(187, 187, 187);
  border-radius: 15px;
  margin-bottom: 20px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .card {
    margin-bottom: 50px;
    width: 40%;
  }
}
.card a {
  height: 100%;
}
.card-new {
  position: absolute;
  right: 15px;
  top: 10px;
  background-color: #99E2D0;
  color: #217460;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 3px;
  overflow: visible;
}
.card-img {
  border-radius: 15px 15px 0px 0px;
  height: 175px;
  /*1*/
  position: relative;
  /*2*/
  overflow: hidden;
  /*3*/
}
.card-img img {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-body {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-body-name h3,
.card-body-name span {
  padding: 5px;
}
.card-favorite {
  padding: 10px;
  height: 45px;
}

.fa-xl {
  line-height: 1em;
}

.fa-heart:hover {
  background: linear-gradient(rgb(147, 86, 220) 0%, rgb(255, 121, 218) 95%, rgb(147, 86, 220) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  cursor: pointer;
  animation: like 0.5s 1;
}

.img-restaurant {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 400px;
  height: 265px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .img-restaurant {
    background-size: 100%;
  }
}

.la-note-enchantee {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.a-la-francaise {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.le-delice-des-sens {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.la-palette-gout {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.menu {
  padding: 0px 25px;
  margin-top: -40px;
  border-radius: 30px;
  background-color: #ffffff;
}
.menu-container {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .menu-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .menu-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .menu-container {
    margin-bottom: 30px;
  }
  .menu-main {
    margin-top: 0px;
    padding-bottom: 75px;
  }
}
.menu-name-restaurant {
  padding: 25px 25px 25px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-title-desc {
  width: 100%;
}
.menu-card {
  width: 100%;
  position: relative;
  height: 65px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px rgb(187, 187, 187);
  padding: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
  animation: loading-menu 2500ms 0ms both ease;
}
.menu-card-description {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menu-card-price {
  font-weight: 900;
}
.menu-card p {
  font-size: 15px;
  width: 270px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-card-select {
  width: 0px;
}
.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.menu h3 {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 3px solid #99E2D0;
  width: 50px;
}
.menu h4 {
  margin-bottom: 5px;
}
.menu-card-select {
  position: absolute;
  right: -100px;
  top: 0%;
  background-color: #99E2D0;
  border-radius: 0px 10px 10px 0px;
  width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: right;
}
.menu-card:hover > .menu-card-select {
  animation: card-hover 1000ms ease;
  animation-fill-mode: both;
}
.menu-card:hover > .menu-card-select span {
  animation: rotation-span 1000ms ease;
  animation-fill-mode: both;
}
.menu-title-desc {
  transform: scale(1);
  transition: transform 330ms ease;
  transform-origin: left;
}
.menu-card:hover > .menu-title-desc {
  animation: card-hover-desc 1000ms ease;
  animation-fill-mode: both;
}
.menu .fa-circle-check {
  color: white;
  font-size: 22px;
}

@keyframes like {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes card-hover {
  0% {
    right: -90px;
  }
  100% {
    right: 0px;
  }
}
@keyframes rotation-span {
  0% {
    rotate: 90deg;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes card-hover-desc {
  0% {
    width: 99%;
  }
  100% {
    width: 80%;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes loading-menu {
  0% {
    margin-top: 75px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
