button {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 17px;
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 35px;
    background-image: linear-gradient($colour-secondary 0%, $colour-primary 95%, $colour-primary 100%);
    box-shadow: rgba(0, 0, 0, 0.44) 2px 5px 8px 0px;
    border: 0px solid rgb(28, 110, 164);
    display: inline-block;

}