.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid $colour-primary;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
}