// Variables 
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$font-text: 'Roboto', sans-serif;
$font-title: 'Shrikhand', cursive;
$dot-ol-size: 24px;

$margin: 15px;
$medium-margin: 25px;
$big-margin: 50px;
$padding: 30px;
//Mixins

@mixin background {
    background-color: white;
}
@mixin padding {
    padding: 20px 20px;
}