// Variables 
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$font-text: 'Roboto', sans-serif;
$font-title: 'Shrikhand', cursive;
$dot-ol-size: 24px;

$margin: 15px;
$medium-margin: 25px;
$big-margin: 50px;
$padding: 30px;

$heading-shadow-size: .55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25;

$breakpoints : (
    tablet: 768px,
    desktop: 992px,
);

//Mixins

@mixin background {
    background-color: white;
}
@mixin padding {
    padding: 20px 20px;
}

@mixin tablet-only{
    @media screen and (min-width: map-get($breakpoints, tablet)){
        @content;
    }
}

@mixin desktop-only{
    @media screen and (min-width: map-get($map: $breakpoints, $key: desktop)){
        @content;
    }
}

//Webkit

@keyframes like {
    0%   { transform: scale(1); }
    90%   { transform: scale(1.2); }
    100% { transform: scale(1.1); }
}

@keyframes card-hover {
    0% { right: -90px; }
    100% { right: 0px;}
}

@keyframes rotation-span {
    0% { rotate: (90deg);}
    100% { rotate: (360deg); }
}

@keyframes card-hover-desc {
    0% { width: 99%;}
    100% { width: 80%;}
}