// Variables 
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$font-text: 'Roboto', sans-serif;
$font-title: 'Shrikhand', cursive;
$dot-ol-size: 24px;

$margin: 15px;
$medium-margin: 25px;
$big-margin: 50px;
$padding: 30px;

$heading-shadow-size: .55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25;

$breakpoints : (
    tablet: 768px,
    desktop: 992px,
);

//Mixins

@mixin background {
    background-color: white;
}
@mixin padding {
    padding: 20px 20px;
}

@mixin tablet-only{
    @media screen and (min-width: map-get($breakpoints, tablet)){
        @content;
    }
}

@mixin desktop-only{
    @media screen and (min-width: map-get($map: $breakpoints, $key: desktop)){
        @content;
    }
}

//Webkit

@keyframes like {
    0%   { transform: scale(1); }
    90%   { transform: scale(1.2); }
    100% { transform: scale(1.1); }
}

@keyframes card-hover {
    0% { transform: scalex(1.0) scaleY(2); }
    10% { transform: scalex(1.5) scaleY(3);}
    100% { transform: scalex(2) scaleY(4);}
}