header {
    height: 55px;
    box-shadow: 1px 1px 4px rgb(146, 146, 146);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @include background;
    a{
        position:absolute;
        left: 15px;
    }
}